.form_parent{
  display: flex;
  justify-content: center;
}
.form_data{
  border: 2px solid rgb(240, 238, 235);
  box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
   padding: 20px;
}
.form_data label{
  font-size: 20px;
  margin-top: 10px;
}
.form_data input,textarea{
  width: 300px;
  margin-left: 10px;
 padding: 3px;
  border: 1px solid gray;
  border-radius: 5px;
}
.form_data .rooms input{
  width: 50px;
  margin-right: 10px;
}
.form_data button{
  margin-top: 10px;
  border: none;
  padding: 5px 10px;
  background-color: rgb(23, 23, 230);
  color: white;
  border-radius: 5px;
}
.form_data h4{
  margin-top: 15px;
}
